<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta+Vaani|500,800">
    <link href="/css/style.css" rel="stylesheet" />
    <title>Quiet Soul</title>
    <style>
</head>
<body>
  
  
  
.container {
  position: right;
  width: 20px;
  height: 30px;
}

.link {
  position: absolute;
  top: 10px;
  right: 10px;
}
 </style>
 <script src="https://kit.fontawesome.com/5d66035e35.js" crossorigin="anonymous"></script>
 </head>
 <body>
  <div class="topnav">
    
  <a class="link" href="/profile"><i class="fa-solid fa-user fa-xl" style="color: #000000;"></i></a>
  </div>
  <header>
    {{!-- <nav>
            <a href="/">Home</a>
            {{#if loggedIn}}
            <button id="logout" class="btn-no-syle">Logout</button>
            {{else}}
            <a href="/logout">Login</a>
            {{/if}}
        </nav> --}}
</header>
<main>
   {{{body}}}
</main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/home.js"></script>
</body>

</html>