<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta+Vaani|500,800">
    <link href="/css/style.css" rel="stylesheet" />
    <title>Quiet Soul</title>
</head>

<body>
    <header>
        {{!-- <nav>
            <a href="/">Home</a>
            {{#if loggedIn}}
            <button id="logout" class="btn-no-syle">Logout</button>
            {{else}}
            <a href="/logout">Login</a>
            {{/if}}
        </nav> --}}
    </header>

    <main>

        {{{body}}}

    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/home.js"></script>
</body>

</html>