<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/reset.css" rel="stylesheet"/>
    <link href="/public/css/style.css" rel="stylesheet"/>
    <title>Quiet Soul</title>
</head>

<body>
    <header>
        <h1>Quiet Soul</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-syle">Logout</button>
        {{else}}
        <a href="/logout">Login</a>
        {{/if}}
    </nav>
    <main>
    <aside>
      <h2>Enjoy the meditations!</h2>
    </aside>

      {{{body}}}
      
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>