<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="marbled-bg">

    <h1 class="library-title">Meditation Library</h1>

</header>

<section class="meditations-library">

    {{#each data}}
    <article class="meditation">
        <div class="meditation-info">
            <h2>{{dataValues.title}}</h2>
            <p>{{instructor.dataValues.name}}</p>
            <p>{{dataValues.duration}}m</p>
        </div>
        <button type="button" class="play-button" onclick="location.href='/api/meditations/{{dataValues.id}}'">
            <i class="fa fa-play-circle fa-4x"></i>
        </button>
    </article>
    {{/each}}

</section>


{{!-- TODO:
-- readme
create account - immediately log in & direct to /home
-- update profile page - autopopulate w/handlebars
-- adjust for desktop/styling for profile page


delete user/account
display recently played -- save clicked on in database
bcrypt
--}}