<h1>Meditation Library</h1>

    <section class="all-meditations">
        {{#each data}}
        <article class="meditation">
            <h2 onclick="location.href='/meditations/{{id}}'">{{title}}</h2>
            <p>{{instructorId}}</p>
            <p>{{duration}}m</p>
            {{!-- <img src="../public/images/play.png"> --}}
        </article>
        {{/each}}
    </section>
