<h1>Meditation Library</h1>

{{#each data}}
    <h2 onclick="location.href='/meditations/{{id}}'">{{dataValues.title}}</h2>
    <p>{{dataValues.instructor}}</p>
    <p>{{dataValues.duration}}m</p>
    <p>--------------------</p>
{{/each}}

//TODO: make meditations articles