<header class="marbled-bg">

    <h1>Meditation Library</h1>

</header>

<section class="meditations-list">
    {{#each data}}
    <article class="meditation">
        <h2 onclick="location.href='/meditations/{{id}}'">{{title}}</h2>
        <p>{{instructorId}}</p>
        <p>{{duration}}m</p>
        {{!-- <img src="../public/images/play.png"> --}}
    </article>
    {{/each}}
</section>


{{!-- TODO:
bg images for each page
display instructor name
display play button on list
UserMeditation id's
display recently played
recent/home page
adjust for desktop
progress bar for recent page
--}}