<section class="meditation-container">
    <article class="meditation-details">
        <h2>{{data.title}}</h2>
        <p>{{data.instructorId}}</p>
        <p>{{data.duration}}m</p>
        <p>{{data.description}}</p>
    </article>
</section>