<h1>Meditation Library</h1>

    <section class="meditation-container">
        <article class="meditation-details">
            <h2>{{dataValues.title}}</h2>
            <p>{{dataValues.instructorId}}</p>
            <p>{{dataValues.duration}}m</p>
            <p>{{dataValues.description}}</p>
        </article>
    </section>
