main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    margin-bottom: 15px;
    display: list-item;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #474747;
    color: white;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #c1807d;
  }

  .topnav {
    background: none;
  }
  
  div {
    border-radius: 5px;
    background-color: #F8F3F3;
    padding: 20px;
  }

  button {
    background-color: #c1807d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 165.5px;
    opacity: 0.9;
    border-radius: 4px;
  }
  
  button:hover {
    opacity:1;
  }
  
  
  .cancelbtn, .logoutbtn {
    float: left;
    width: 300px;
  }
  
  .logoutbtn {
    background-color: #c1807d;
  }
  
  .container {
    padding: 16px;
    text-align: center;
  }
  
  .logout {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
  
    overflow: auto; 
  
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  .logout {
    background-color: #F8F3F3;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
  }

  .delete {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
  
    overflow: auto; 
  
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  .delete-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  @media screen and (min-width: 480px) {
  
    button {
       width: 228px;
    }

    #user-profile {
      width: 500px;
    }
  }