* {
    box-sizing: border-box;
}

body {
    font-family: 'Mukta Vaani', Arial, Helvetica, sans-serif;
    background-color: #F8F3F3;
    color: #474747;
    font-size: 1rem;
    line-height: 1.5625;
}

body, .marbled-bg {
    background-image: url('../images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F8F3F3;
}

.marbled-bg {
    margin-bottom: 0px;
    background-color: #F8F3F3;
}

h1 {
    font-size: 1.25rem;
    text-align: center;
}

.library-title {
    padding-top: 40px;
    padding-bottom: 85px;
}

.weekly-duration {
    padding-top: 40px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 20px;
}

.weekly-duration h1 {
    padding-top: 45px;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.25rem;
    text-align: left;
}

.meditation {
    border: 1px solid #E1E1E1;
    background-color: #ffffff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex: 1 1 81px;
    flex-wrap: nowrap;
    gap: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.meditation-info h2 {
    flex-basis: 100%;
}

.meditation-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 235px;
}

.meditations-library,
.recent-meditations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    padding-top: 35px;
    padding-bottom: 50px;
}

.meditations-library::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/bg-convex.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

article {
    position: relative;
    z-index: 1;
    min-width: 266px;
}

.recent-meditations::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/bg-concave.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.recent-meditations p {
    position: relative;
    padding: 10px;
}

.recently-played {
    position: relative;
    z-index: 1;
    padding-top: 20px;
    padding-left: 27px;
    margin-bottom: -20px;
    align-self: flex-start;
}

#menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: transparent;
    border: none;
}

.play-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

i.fa-play-circle {
    color: #474747;
}


@media screen and (min-width: 800px) {
    .weekly-duration {
        padding-bottom: 80px;
    }

    .recent-meditations::before {
        top: -190px;
    }

    .meditation-info {
        width: 600px;
    }

    article {
        width: 600px;
    }

    .recently-played {
        align-self: center;
        padding-left: 0px;
    }

}