* {
    box-sizing: border-box;
}

body {
    font-family: 'Mukta Vaani', Arial, Helvetica, sans-serif;
    background-color: #F8F3F3;
    color: #474747;
    font-size: 1rem;
    line-height: 1.5625;
}

body, .marbled-bg {
    background-image: url('../images/background.webp');
    background-repeat: no-repeat;
}

h1 {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 50px;
}

h2 {
    font-size: 1.25rem;
    text-align: left;
}

.meditation {
    border: 1px solid #E1E1E1;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex: 1 1 81px;
    flex-wrap: wrap;
}

.meditation h2, img {
    flex-basis: 100%;
}

.all-meditations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.meditations-list {
    position: relative;
    padding: 35px;
}

article {
    position: relative;
    z-index: 1;
}

.meditations-list::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/bg-concave.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}