* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.webp');
    font-family: 'Mukta Vaani', Arial, Helvetica, sans-serif;
    color: #474747;
    font-size: 16px;
    line-height: 25px;
    padding: 35px;
    margin-top: 20px;
}

h1 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
}

h2 {
    font-size: 20px;
    text-align: left;
}

.meditation {
    border: 1px solid #E1E1E1;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex: 1 1 81px;
    flex-wrap: wrap;
}

.meditation h2, img {
    flex-basis: 100%;
}

.all-meditations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.all-meditations-bg {
    background-image: url('../images/bg-convex.svg');
    background-position: 0%;
}

.home-bg {
    background-image: url('../images/');
}
